# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.opensdf
*.sdf
*.suo

# Compiled Static libraries
*.lai
*.la
*.tlog
*.obj
*.d
/Common/build/
/Common/Debug/
/_lib/
/qtEditor/build/
/Common/dist/
/qtEditor/dist/
/lib/irres/lib/Win32-VisualStudio/
/lib/irres/source/Irrlicht/obj/
/lib/tinyxml/Debug/
*.pyc
/qtEditor/Debug/
/qtEditor/ipch/
/Editor/vcproject/ipch/
.gitignore~
*.user